*{
    margin: 0;
    padding: 0;
}

#nav{
    width: 100%;
    height: 100px;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    width: 50%;
    display: flex;
    align-items: center;
}
.logo>li>a{
    color: black;
}
#logo{
    width: 50px;
    height: 50px;
}

.topAbout{
    width: 100%;
    height: 100%;
    background-image: url("https://wallpaperaccess.com/full/6451924.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
   
}
.topAbout>h1{
    font-size: 70px;
    padding-top: 50px;
    padding-bottom: 25px;
}
.topAbout>p{
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 25px;
}
.topAbout>img{
    width: 60%;
}
main{
    background-image: url("https://wallpaperaccess.com/full/6451924.jpg");
}
.bottomAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote{
    width: 50%;
    padding-top: 25px;
    font-size: 30px;
}
.bottomAbout>p{
    width: 30%;
    display: flex;
    padding-top: 50px;
    font-size: 20px;
}
.cards{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.cards>section{
    padding: 5%;
}
footer{
    height: 150px;
    width: 100%;
    background-color: wheat;
    position: relative;
    bottom: 0;
    align-items: center;
    display: flex;
}

footer>img{
    height: 20px;
}
.div1{
    width: 50%;

}
.div2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div2>ul>li>a>img{
    width: 120px;
    height: 120px;

}